<a href="https://colab.research.google.com/github/kvs1998/Kaggle/blob/main/Friends_Series_Dataset_EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install -q kaggle
from google.colab import files
files.upload()
!mkdir ~/.kaggle
!cp kaggle.json ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json
!kaggle datasets download -d rezaghari/friends-series-dataset

Saving kaggle.json to kaggle.json
Downloading friends-series-dataset.zip to /content
  0% 0.00/40.0k [00:00<?, ?B/s]
100% 40.0k/40.0k [00:00<00:00, 15.7MB/s]

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
! mkdir train
! unzip /content/friends-series-dataset.zip -d train

Archive:  /content/friends-series-dataset.zip
  inflating: train/friends_episodes_v2.csv
  inflating: train/friends_episodes_v3.csv

In [33]:
data = pd.read_csv('/content/train/friends_episodes_v2.csv')

In [39]:
#data1 = pd.read_csv('/content/train/friends_episodes_v3.csv', encoding='latin-1')
#data1.head()

In [40]:
data[data['Year_of_prod'] == 1994]

   Year_of_prod  Season  ... Stars  Votes
0          1994       1  ...   8.1   4888
1          1994       1  ...   8.2   4605
2          1994       1  ...   8.1   4468
3          1994       1  ...   8.5   4438
4          1994       1  ...   8.1   4274
5          1994       1  ...   9.0   5469
6          1994       1  ...   8.1   4156
7          1994       1  ...   8.2   4038
8          1994       1  ...   8.1   4064

[9 rows x 8 columns]

In [41]:
#Number of episodes in each season
data.groupby('Year_of_prod').count()['Season']

Year_of_prod
1994     9
1995    23
1996    25
1997    25
1998    24
1999    24
2000    25
2001    25
2002    23
2003    22
2004    10
Name: Season, dtype: int64

In [60]:
#Director ranked according to most votes 
data.groupby('Director')[['Stars', 'Votes']].agg(np.mean).sort_values(['Votes'],ascending=False)

                         Stars        Votes
Director
James Burrows         8.514286  4307.357143
Arlene Sanford        8.100000  4274.000000
Alan Myerson          8.450000  4043.500000
Pamela Fryman         8.700000  4019.000000
Paul Lazarus          8.200000  3926.000000
Joe Regalbuto         9.100000  3781.000000
Michael Lembeck       8.520833  3651.875000
Peter Bonerz          8.325000  3595.166667
Mary Kay Place        8.500000  3581.000000
Thomas Schlamme       8.050000  3557.500000
Ellen Gittelsohn      8.300000  3550.000000
Kevin Bright          8.646296  3477.111111
Gail Mancuso          8.357143  3374.642857
Robby Benson          8.183333  3315.000000
Shelley Jensen        8.433333  3266.333333
Steve Zuckerman       8.100000  3245.500000
David Steinberg       8.500000  3210.000000
Andrew Tsao           8.600000  3174.000000
Sam Simon             8.300000  3154.000000
Terry Hughes          8.220000  3107.800000
Dana De Vally Piazza  8.400000  3067.000000
Gary Halvorson        8.401852  2992.055556
David Schwimmer       8.540000  2941.400000
Todd Holland          8.000000  2898.000000
Ben Weiss             8.300000  2840.200000
Stephen Prime         8.400000  2819.000000
Sheldon Epps          8.466667  2810.000000
Roger Christiansen    8.200000  2772.500000

In [69]:
#Most popular episode in each season(acc to the votes)
data.groupby('Season').max()
#data.groupby('Season').agg({'Votes':'max'})

        Year_of_prod                                Episode_Title  ...  Stars  Votes
Season                                                             ...
1               1995                       The One with the Thumb  ...    9.0   5469
2               1996                 The One with the Two Parties  ...    9.4   5736
3               1997  The One with the Ultimate Fighting Champion  ...    9.1   4637
4               1998         The One with the Worst Best Man Ever  ...    9.5   6006
5               1999                        The One with the Yeti  ...    9.7   8066
6               2000                     The One with the Routine  ...    9.3   4187
7               2001                        The One with the Vows  ...    9.2   3563
8               2002                   The One with the Videotape  ...    9.3   5291
9               2003            The One with the Soap Opera Party  ...    8.8   3273
10              2004           The One with the Late Thanksgiving  ...    9.7  10381

[10 rows x 7 columns]